@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
}

body {
    background-color: #c4e7ff;
    width: 100%;
}

.bottom-icons {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 35px auto auto auto;
    gap: 15px;
}

.link-buttons {
    display: grid;
    grid-template-columns: 1fr;
    width: 45%;
    justify-content: center;
    margin: auto;
    gap: 20px;
}

.img-and-texts {
    margin: auto;
    text-align: center;
    margin-top: 25px;
}

.links-tree {
    padding: 16.5px 62px;
    border-radius: 12px;
    border: none;
    box-shadow: #355f72 6px 6px 0px 0px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    background: #efefef;
    text-align: center;
}

.efeito-botao {
    transition: transform 0.4s ease-in-out;
}
    
.efeito-botao:hover {
    transform: translateY(-3px);
    background: black;
    color: white;
}

.efeito-icon {
    transition: transform 0.4s ease-in-out;
}
    
.efeito-icon:hover {
    transform: translateY(-3px);
}

.profile-img {
    margin-bottom: 15px;
    border-radius: 15px;
}

.profile-name {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.profile-about {
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: none;
}

.linkedin-icon {
    position: relative;
    margin-left: -15px;
}

.github-icon {
    position: relative;
}

.instagram-icon {
    position: relative;
}

@media (max-width: 768px) {

    .img-and-texts {
        margin: auto;
        text-align: center;
        margin-top: 50px;
    }

    .link-buttons {
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
        justify-content: center;
        margin: auto;
        gap: 20px;
    }

    .bottom-icons {
        width: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 35px auto auto auto;
        gap: 15px;
    }

    .profile-about {
        margin-left: 25px;
        margin-right: 25px;
    }
}